[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
